html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
header {
  background-color: #1c4d3a;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-image: url(../images/green_background.png);
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

body {
  background-color: #EBEBEB;
}

.item1 {
  padding: 10px;  
}
.item2 {
  padding: 10px;
}

button {
  padding: 15px;
  background-color: #9dbead;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

footer {
  background-color: #1c4d3a;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  width: 33%;
  margin: 1%;
  padding: 1%  
}

.flexContainer div {
  padding: 1%;
  width: 400px;
}

.workGrid {
  display: grid;
  padding: 2%;
  grid-template-areas: 'item1 item2';
  grid-template-rows: 2;
  grid-template-columns: 2;
}

.float{
	position:fixed;
	width: 80px;
	height: 60px;
	bottom: 80px;
	right: 40px;
	border-radius:50px;
	text-align:center;	
}

@media only screen and (max-width: 600){
  .flexContainer {
    flex-direction: column;
    width: 100%;
    grid-template-areas: 'item1 item2';
    grid-template-rows: 300px 300px;
    grid-auto-columns: 1fr 1fr;
  }  
}